body {
    background-color: rgb(233, 228, 228);
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(71, 67, 6);
} 
p {
    color: rgb(8, 8, 8);
    font-family: Arial, Helvetica, sans-serif;
}
h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(71, 67, 6);
}

