@charset "UTF-8";

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    text-align: center;
}
h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: orange;
    text-align: left;
}
p {
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
}
body {
    background-color: black;
}
img {
    height: 230px;    
    border: 100px;
    border: 3px solid whitesmoke;
    border-radius: 50%;
}
div {
    text-align: center;
}
mark {
    background-color: orange;
}
abbr {
    background-color: greenyellow;
    color: black;
}
.imagens {
    text-align: center;
}
footer img {
    height: 60px;
    width: 60px;
}
footer {
    display: flex;
    justify-content: center;
}
footer a {
    margin: 20px;
    text-align: center;
}
footer p:hover {
    margin-top: 2%;
    color: orange;
    
}
.pading {
    padding: 0px 60px;
}
