@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-image: linear-gradient(to bottom,#7248C6,#C129BC,#FC283E,#FFBA41);
}
main {
    background-color: rgb(246, 244, 242);
    padding: 10%;
    width: 500px;
    border-radius: 5%;
    margin: auto;
    
}

h1 {
    text-align:center;
    text-shadow:rgba(0, 0, 0, 0.567);
    color: #7248C6;
}
h2 {
    color:#FC283E;
}
p{
    text-align: justify;
}